<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<h1>Hola buenas</h1>
<ul>
  <li><a [routerLink]="['/componente01']">Ejemplo 01</a></li>
  <li><a [routerLink]="['/componente02']">Ejemplo 02</a></li>
  <li><a [routerLink]="['/componente03']">Ejemplo 03</a></li>
  <li><a [routerLink]="['/componente04']">Ejemplo 04</a></li>
  <li><a [routerLink]="['/componente05']">Ejemplo 05</a></li>
  <li><a [routerLink]="['/componente06']">Ejemplo 06</a></li>
  <li><a [routerLink]="['/componenteEjercicio']">Ejemplo ejercicio</a></li>
  <li><a [routerLink]="['/componente07']">Ejemplo 07</a></li>
  <li><a [routerLink]="['/componente08']">Ejemplo 08</a></li>
  <li><a [routerLink]="['/componenteEjercicio02']">Ejercicio 02</a></li>
  <li><a [routerLink]="['/ejercicio03']">Ejercicio 03</a></li>
  <li><a [routerLink]="['/ejemplo09']">Ejemplo 09</a></li>
  <li><a [routerLink]="['/ejemplo10']">Ejemplo 10</a></li>
  <li><a [routerLink]="['/ejemplo11']">Ejemplo 11</a></li>
  <li><a [routerLink]="['/ejemplo12']">Ejemplo 12</a></li>
  <li><a [routerLink]="['/ejemplo13']">Ejemplo 13</a></li>
  <li><a [routerLink]="['/ejemplo14']">Ejemplo 14</a></li>
  <li><a [routerLink]="['/ejemplo15', 'samu']">Ejemplo 15</a></li>
  <li><a [routerLink]="['/ejemplo16']">Ejemplo 16</a></li>
</ul>

<router-outlet></router-outlet>

